$hbackground:-moz-radial-gradient(circle at 50% 50%, rgba(3, 34, 63, 1) 0%, rgba(8, 28, 47, 1) 100%);

/* safari 5.1+,chrome 10+ */
$hbackground:-webkit-radial-gradient(circle at 50% 50%, rgba(3, 34, 63, 1) 0%, rgba(8, 28, 47, 1) 100%);

/* opera 11.10+ */
$hbackground:-o-radial-gradient(circle at 50% 50%, rgba(3, 34, 63, 1) 0%, rgba(8, 28, 47, 1) 100%);

/* ie 10+ */
$hbackground:-ms-radial-gradient(circle at 50% 50%, rgba(3, 34, 63, 1) 0%, rgba(8, 28, 47, 1) 100%);

/* global 92%+ browsers support */
$hbackground:radial-gradient(circle at 50% 50%, rgba(3, 34, 63, 1) 0%, rgba(8, 28, 47, 1) 100%);


.deezi_footer{
    display: flex;
    flex-direction: column;
    
    .heading{
        width: 100%;
        text-align: center;
        margin-bottom: 3rem;
    }
    .button{
       text-align: center;
        button{
            width: 152px;
            height: 58px;
            border: none;
            background: #f05218;
            border-radius: 0.6rem;
            cursor: pointer;
            color: #ffffff;
            font-size: 16px;
        }
    }
    .github{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-top: 3rem;
        gap: 5px;
    }
    
    .footer_links{
        background: $hbackground;
        display: flex;
        gap: 40px;
        margin-top: 5rem;
        padding-bottom: 5rem;
        padding-right: 1rem;
        justify-content: space-between;
        
        
        
        .logo{
            img{
                width: 200px;
            }
            p{  margin-top: -30px;
                text-align: center;
                font-size: 12px;
            }
        }
        .links{
            padding-top: 5rem;
         
            h4{
                color: #dff3f9;
            }
            p{
                font-size: 16px;
                line-height: 2rem;
            }
        }
    }

    .copyright{
        display: flex;
        justify-content: center;
        margin-top: 1rem;
        p{
            font-size: 10px;
        }
    }
}

@media  screen and (max-width: 768px){
    .deezi_footer{
        .footer_links{
          
    .links{
        margin-top: 0rem;
        h4{
            color: #dff3f9;
        }
        p{
            font-size: 12px;
            line-height: 2rem;
        }
    
    }
}
}
}

@media  screen and (max-width: 520px){
    .deezi_footer{
        .heading{
            h1{
                font-size: 20px;
            }
        }
        .footer_links{
            flex-direction: column;
            padding: 0rem 1rem;
            gap: 1px;
            .logo{
                align-self: center;
                img{
                    width: 150px;
                }
                p{  margin-top: -10px;
                    text-align: center;
                    font-size: 10px;
                }
            }
    .links{

        h4{
            color: #dff3f9;
        }
        p{
            font-size: 12px;
            line-height: 2rem;
        }
    
    }
}
}
}