

.deezi_navbar{
    display: flex;
    padding: 10px 20px;
    justify-content: space-between;
    align-items: center;
    .logo{
        margin-right: 1rem;
        img{
            
            height: 100px;
        }
    }  
    .links{
        display: flex;
        justify-content: space-between;
        align-items: center;
      
        p{
            color: #35a2e2;
            font-family: 'Orbitron';
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 25px;
            text-transform: capitalize;
            margin: 0 1rem;
            cursor: pointer;
        }
        button{
            width: 152px;
            height: 58px;
            border: none;
            background: #f05218;
            border-radius: 5px;
            cursor: pointer;
           p{
            color: #fff;
            font-weight: lighter;
           }
        }
    .navbar{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }  
    .action{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px 20px;
    }
    .menubar{
       display: none;
    }
    .menubar{
       
        svg{
            cursor: pointer;
            color: #41adff;
            padding-bottom: 5px;
            margin-bottom: 10px;
          
        }
        .container{
            display: flex;
            flex-direction: column;
            background: #1c3957;
            position: absolute;
            padding: 2rem;
            top: 10%;
            right: 20px;
            margin-top: 1rem;
            min-width: 210px;
            border-radius: 5px;
            box-shadow: 0 0 5 rgba(0,0,0,0.2);
            p{
                margin: 0.7rem 0;
            }
            .action{
                padding: 0px 0px;
                button{
                    height: 50px;
                }
            
            }
        }
    }
  
}

}

@media screen and (max-width: 1050px) {
    .deezi_navbar{
        .links{
        .navbar{
            display: none;
        }

        .action{
            display: flex;
        }
        
        .menubar{
            display: flex;
        }
    }
    }
}

@media screen and (max-width:700px){
    .deezi_navbar{
        .links{
        padding: 2rem 2rem;
        
    }
    }
}

@media only screen and (min-device-width: 768px) {
    .deezi_navbar{
        .links{
        padding: 2rem 1rem;

        .menubar{
            .container{
                top:25%;
            right: 5%;
                .action{
                    display: none;
                }
            }
        }
        }
    }
   }


@media screen and (max-width:550px){
    .deezi_navbar{
        
        .links{
        padding: 2rem 1rem;

        .action{
            display: none;
        }
        .menubar{
        
            .container{
                top:20%;
                .action{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                }
            }
 
    }
        }
    }
}