
$background:-moz-linear-gradient(90deg, rgba(59, 160, 240, 1) 0%, rgba(46, 163, 213, 1) 100%); 

    /* safari 5.1+,chrome 10+ */
$background:-webkit-linear-gradient(90deg, rgba(59, 160, 240, 1) 0%, rgba(46, 163, 213, 1) 100%);

    /* opera 11.10+ */
$background:-o-linear-gradient(90deg, rgba(59, 160, 240, 1) 0%, rgba(46, 163, 213, 1) 100%);

$background:-ms-linear-gradient(90deg, rgba(59, 160, 240, 1) 0%, rgba(46, 163, 213, 1) 100%);

    /* global 94%+ browsers support */
$background:linear-gradient(90deg, rgba(59, 160, 240, 1) 0%, rgba(46, 163, 213, 1) 100%);

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }

.deezi_header{
    .content{
         display: flex;
         justify-content: space-between;
         align-content: center;
        .container{
            margin-top: 60px;
        h1{
            font-family: 'Orbitron';
            font-weight: 100;
            
            background-color: #2196F3;
            background-image: $background;
            background-size: 100%;
            background-repeat: repeat;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent; 
            -moz-background-clip: text;
            -moz-text-fill-color: transparent;
            margin-bottom: 10px;
        }
    
        p{
            color:#7ab7f6;
            font-weight: 200;
            font-size: 18px;
        }
        overflow: hidden;
        border-right: none;
        font-size: 1.6rem;
        width: 0;
        animation: typing 8s forwards;
    }
    .image{
        img{
         width: 450px;
        }
     }
   
    }
}

@media screen and (max-width: 1050px){
    .deezi_header{
        .content{
            flex-direction: row;
            gap: 20px;
            .container{
                margin-top: 0px;
                flex: 5;
            }
            .image{
                flex:2;
                img{
                 width: 250px;
                }
             }
        }
    }
}

@media screen and (max-width:650px){
    .deezi_header{
        .content{
            flex-direction: column;
            gap: 20px;
       
            .container{
                margin-top: 0px;
            }
            .image{
                flex-shrink: 0;
                align-self: center;
                img{
                 width: 350px;
                }
             }
        }
    }
}

@media screen and (min-width: 768px){
    .deezi_header{
        .content{
            h1{
        font-size: 36px;
    }
}
}
}

@media screen and (max-width: 420px){
    .deezi_header{
        .content{
            h1{
        font-size: 20px;
    }
}
}
}