.deezi_blog{
    display: flex;
    flex-direction: column;
    .heading{
        width: 100%;
        text-align: left;
        margin-bottom: 5rem;
        h1{
            line-height: 75px;
            font-weight: 800;
        }
    }
    .container{
        display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
    }
 
}




@media screen and (max-width:520px){
    .deezi_blog{
        .heading{
            margin-bottom: 2rem;
            h1{
                font-size: 20px;
                line-height: normal;
                font-weight: 500;
            }
        }
    }
}