
$hbackground:-moz-radial-gradient(circle at 50% 50%, rgba(3, 34, 63, 1) 0%, rgba(8, 28, 47, 1) 100%);

/* safari 5.1+,chrome 10+ */
$hbackground:-webkit-radial-gradient(circle at 50% 50%, rgba(3, 34, 63, 1) 0%, rgba(8, 28, 47, 1) 100%);

/* opera 11.10+ */
$hbackground:-o-radial-gradient(circle at 50% 50%, rgba(3, 34, 63, 1) 0%, rgba(8, 28, 47, 1) 100%);

/* ie 10+ */
$hbackground:-ms-radial-gradient(circle at 50% 50%, rgba(3, 34, 63, 1) 0%, rgba(8, 28, 47, 1) 100%);

/* global 92%+ browsers support */
$hbackground:radial-gradient(circle at 50% 50%, rgba(3, 34, 63, 1) 0%, rgba(8, 28, 47, 1) 100%);


    



.header{
    background: $hbackground;
    width: 100%;
}
